@import url(http://fonts.googleapis.com/css?family=Devonshire);
@import url('reset.css');
@import url('gallery.css');

body {
  background: rgba(0, 0, 0, .1);
  width: 70%;
  max-width: 800px;
  margin: auto;
}

h1 {
  font-family: 'Devonshire';
  text-align: center;
  font-weight: normal;
  font-size: 4.2em;
}