@import url(http://fonts.googleapis.com/css?family=Devonshire);
@import url('css/reset.css');

body {
  background: rgba(0, 0, 0, .1);
  width: 70%;
  max-width: 800px;
  margin: auto;
}

h1 {
  font-family: 'Devonshire';
  text-align: center;
  font-weight: normal;
  font-size: 4.2em;
}

.photo {
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
  float: left;
}